* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

#header{
	border: 2px solid darkblue;
	background-color: lightblue;
	background-image: url(patreon%20icon%20blow%20up%202.png);
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	padding-bottom: 1px;
}
#header h1 {
	text-align: right;
}
#menu {
	padding-left: 0px;
	padding-top: 5px;
	border: 1px solid black;
}


#menu ul {
	list-style-type: none;
	padding-top: 0px;
	padding-left: 0px;
}

#menu li {
	border: 1px solid darkblue;
	border-radius: 0px 25px 25px 0px;
	overflow: hidden;
	height: 50px;
	
}

#menu li img {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
}

.log_entry {
	
	border: 1px solid blue;
	border-radius: 25px;
	float: left;
	overflow: hidden;
	padding: 15px;
}

.entry_text {
	width: 66.66%;
	float: left;
}
.entry_thumb {
	width: 33.33%;
	overflow: hidden;
	
}
.project_covers {
	
	overflow: hidden;
	width: 100%;
	height: auto;

}
.project_covers img {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
	

}
.entry_thumb img {
	border: 1px solid black;
	border-radius: 25px;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
}

